* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;

}

.header-container {
    display: flex;
    color: white;
    height: 50px;
    width: 80%;
    justify-content:space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    a {
        color: white;
        text-decoration: none;
    }

    .auth {
        width: 162px;
        height: 40px;
        border-radius: 48px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.car-block {
    background-color: black;
    color: white;

    .lan {
        width: 982px;
        top: 149px;
        position: absolute;
        font-size: 64px;
        line-height: 120%;
        text-align: center;
        left: 229px;
    }
    
}


.container {
    max-width: 1216px;
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.pick-up-location {
    border-radius: 16px;
    width: 1216px;
    height: 145px;
    margin-top: -70px;
    background-color: #fffffff7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}


.pick-up-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    padding: 0 20px;

    .form-item {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 300px;
        justify-content: center;
        

        label {
            font-size: 16px;
            color: #333;
        }

        input {
            padding: 10px;
            padding-left: 30px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
            position: relative;
        }
    }

    .date {
        width: 200px;
        
        input {
            padding-left: 10px;
        }
    }

    .submit-button {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        width: 175px;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    svg {
        margin-left: 5px;
    }
}

.brands {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.head {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.blocks {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px 20px;
}

.block {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0F0F0F0D;
    width: 186px;
    height: 120px;
    gap: 10px;
}

.body-types {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.gray-block {
    margin-top: 100px;
    background-color: #F5F5F5;
    height: 1734px;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;

    p {
        text-align: center;
    }
}

.car-collection {
    width: 100%;

    .types {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .type {
            padding: 15px;
            border-radius: 58px;
            background-color: white;
        }
        

        .active {
            color: white;
            background-color: black;
        }
    }

    
}

.car-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    gap: 20px;
}

.car-card {
    width: 384px;
    height: 538px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    border: 1px solid #0000001A;
    flex-direction: column;
    align-items: center;

    img {
        width: 368px;
        height: 260px;
        border-radius: 16px;
        margin: 7px;
    }

    .car-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 336px;
        height: 160px;
        margin-top: 10px;
        
        .car-inf {
            height: 80px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        
        .car-tech-info {
            background-color: #F6F6F6;
            border-radius: 16px;
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 63px;
            margin-top: 10px;

            .car-tech-info-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100%;
                gap: 10px;
            }
        }
    }
    .rent-btn {
        width: 336px;
        margin-left: auto;
        margin-right: auto;
        height: 43px;
        border-radius: 32px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
    
}

.active-card {
    border: 1px solid black;

    .rent-btn {
        background-color: black;
        color: white;
    }

}

.see-all-cars {
    color: white;
    background-color: black;
    border-radius: 64px;
    width: 198px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.gray-box {
    background-color: #F5F5F5;
    width: 740px;
    height: 638px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 50px;
    position: relative;
}

.content-blocks {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -500px;
    gap: 20px;
}


.content-block {
    width: 592px;
    height: 170px;
    display: flex;
    padding: 30px;
    border-radius: 24px;
    border: 1px solid #0000001A;
    background-color: white;
    
    .sv {
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        min-width: 54px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        margin-left: 20px;
        align-items: start;
        justify-content: space-between;


        p {
            text-align: start;
        }
    }
}

.black-block {
    margin-top: 100px;
    background-color: black;
    color: white;
    width: 100%;
    height: 586px;
    display: flex;

    .content {
        margin-top: 100px;
    }

    .services-blocks {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 178px;
        margin-top: 100px;
    }

    .services-block{
        width: 384px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
}


.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

    .head-review {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .reviews-btns {
            display: flex;
            gap: 20px;
            align-items: center;

            .switch-reviews {
                height: 64px;
                width: 64px;
                border-radius: 50%;
                border: 2px solid #C0C0C0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .switch-reviews-active {
                height: 64px;
                width: 64px;
                border-radius: 50%;
                background-color: black;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    h3 {
        width: 1104px;
        margin-top: 40px;
    }

    .reviewer {
        margin-top: 40px;
        display: flex;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .reviewer-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }
    }
}









